canvas{
    position: absolute;
    background-color: #0072b1;
}

.bg{
    background:linear-gradient(247deg,#0072b1,#ff8400);
    background-size:400% 400%;
    -webkit-animation:bg 15s ease infinite;
    animation:bg 15s ease infinite;
    background: #121212 ;
}
main{
    -webkit-animation:main .5s ease-out .1s forwards;
    animation:main .5s ease-out .1s forwards;
    opacity:0
}
@-webkit-keyframes main{
    0%{
        opacity:0;
        transform:translateY(-20px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}
@keyframes main{
    0%{
        opacity:0;
        transform:translateY(-20px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}
@-webkit-keyframes bg{
    0%{
        background-position:0 39%
    }
    50%{
        background-position:100% 62%
    }
    to{
        background-position:0 39%
    }
}
@keyframes bg{
    0%{
        background-position:0 39%
    }
    50%{
        background-position:100% 62%
    }
    to{
        background-position:0 39%
    }
}
